$font-family-base: 'Source Sans Pro', sans-serif;

$font-size-h1: 28px;
$font-size-large: 18px;
$font-size-medium: 15px;
$font-size-base: 13px;
$font-size-small: 11px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$text-color-dark: #43425d;
$text-color-medium: #4d4f5c;
$text-color-primary: #3b86ff;
$text-color-light: #a3a6b4;
$text-color-white: #ffffff;

$color-text-dark: #43425d;
$color-text-medium: #4d4f5c;
$color-primary: #3b86ff;
$color-primary-light: #a5a4bf;
$color-primary-lighter: #a3a0fb;
$color-text-light: #a3a6b4;
$color-white: #ffffff;
$color-accent-warning: #ffc06a;

$color-background-light: #f0f0f7;
$color-background-secondary: #ebebf2;
$color-background-tertiary: #eaf0f4;
$color-background-quaternary: #f5f6fa;

$color-gray-light: #a4afb7;
$color-gray-medium: #bcbccb;
$color-gray-border: #d7dae2;

$color-black-alpha-06: #0000000a;
$color-black-alpha-08: #0000000d;
$color-black-alpha-10: #0000001a;
