@use '../../styles/variables' as *;

.rbc-toolbar-custom {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;

  .toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    &:first-child {
      .rbc-toolbar-title {
        font-size: $font-size-large;
        color: $color-text-medium;
      }
    }

    &:last-child {
      position: relative;

      .rbc-toolbar-label {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: $font-size-large;
        color: $color-text-medium;
      }
    }

    .rbc-btn-group {
      display: flex;
      box-shadow: 0px 2px 3px $color-black-alpha-08;

      button {
        padding: 6px 16px;
        font-size: $font-size-base;
        font-weight: $font-weight-regular;
        color: $color-text-medium;
        background-color: $color-white;
        border: 1px solid $color-gray-border;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;

        &:first-child {
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:hover {
          background-color: $color-background-secondary;
        }

        &.rbc-active,
        &:focus,
        &:active {
          background-color: $color-white;
          color: $color-primary;
        }

        &:focus {
          outline: none;
        }
      }

      & .today-active {
        color: $color-primary;
      }
    }
  }
}
